:root {
    --button-color: #3762E4;
    --button-hover: #6F8EEB;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}

#main-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 550px;
    height: 750px;
    border: 2px solid black;
    background-color: #111629;
    border-radius: 12px;
}

#qr-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: auto;
    border: 2px solid var(--button-color);
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    padding: 4px;

}

#url-input {
    background-color: rgba(0,0,0,0.3);
    color: white;
    border: none;

    width: 300px;
    height: 60%;
    margin-left: 12px;
}

.default-button {
    width: auto;
    height: auto;
    padding: 8px 25px;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 6px;
}

.default-button:hover {
    background-color: var(--button-hover);
}

#qr-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    margin-top: 20px;
}

.hidden {
    display: none;
}